// Import normalize-css "normal" css
@import url("./libs/normalize-css/normalize.css");

// Import fotorama and selec2 "dirty" css
@import url("./libs/fotorama/fotorama.css");
@import url("./libs/select2/select2.css");

// Some stylus code
$variable = 1
.selector {
	zoom: $variable || 0 if ie
}
